.posts {
  list-style-type: none;
  margin: 0;
}

.post {
  margin: 1rem 0;

  a {
    color: #000000;
    display: block;
    padding: 1rem;
    text-decoration: none;
  }

  a:hover {
    color: #008891;
  }

  h2 {
    margin-bottom: 0;
  }

  p {
    font-size: 0.8rem;
    font-style: italic;
  }
}

.searchbar {
  border-radius: 3px;
  margin-right: 5px;
  border: 1px solid #999999;
  padding: 7px;
  background-color: #fff;
  display: block;
  width: 90%;
}

.searchbar:focus, .post:focus {
  outline-color: #008891;
}

.searchbutton {
  border-radius: 50%;
  margin-right: 5px;
  border: none;
  background-color: #fff;
  display: block;
  padding: .4em;
}

.searchbox:focus {
  outline: none;
}

.searchbutton:hover{
  background-color: #008891;
  fill: #fff;
}

.space{
  margin-bottom: 3em;
}

